body {
  background-color: #d5d5d5;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-flow: column;
}

.color-white {
  color: #ffffff;
}

.h-90 {
  height: 90%;
}

.w-100 {
  width: 100%;
}

.picker-area {
  padding: 56px;
}

.popup {
  position: absolute;
  display: flex;
  flex-flow: column;
  box-shadow: 8px 12px 25px -11px black;
  background-color: white;
  height: 100%;
  width: 800px;
  left: 50%;
  top: 50%;
  margin-top: -300px;
  margin-left: -400px;
  border-radius: 2%;
}

.hero {
  display: flex;
  align-items: center;
  background-color: #f46d8d;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero ul {
  flex: 1;
}

.hero-footer {
  margin: 0px 22px 0px 0px;
}

.hero li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #ffffff;
}

.color-range {
  width: 200px;
  height: 100%;
  background-color: orange;
}

.color-slider {
  height: 100%;
  width: 10px;
  background-color: red;
}

.color-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#color-picker {
  border: 3px solid rgba(15, 15, 15, 0.2);
}

.info {
  width: 12em;
  display: flex;
  margin-left: 4em;
  flex-direction: row;
  justify-content: space-between;
}

.selected {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid rgba(15, 15, 15, 0.2);
}
