body {
  display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

main {
  position: relative;
	width: 100%;
	max-width: 800px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  .bg_img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1505744386214-51dba16a26fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1467&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(50%) blur(3px);
  }
  .pop_up {
    position: relative;
    z-index: 10;
    width: 510px;
    height: 410px;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .5);
    .icon_letter_Blk {
      position: absolute;
      width: 152px;
      height: 152px;
      border-radius: 50%;
      background-color: #EFC84A;
      display: flex;
      justify-content: center;
      align-items: center;
      left: -40px;
      top: -40px;
      .letter_icon {
        position: relative;
        width: 100%;
        height: 100%;
        .triangle_setting {
          position: absolute;
          top: 0;
          bottom: -36px;
          left: 0;
          right: 0;
          margin: auto;
          width: 0;
          height: 0;
          border-style: solid;
        }
        .letter_Blk {
          width: 83px;
          height: 60px;
          position: absolute;
          top: -27px;
          bottom: 0px;
          left: 0;
          right: 0;
          margin: auto;
          background-color: #E4E7E8;
          border-radius: 3px;
        }
        .heart {
          position: relative;
          width: 100%;
          height: 100%;
          animation: jump 1500ms infinite ease-out;
          z-index: 10;
          &:before, &:after {
            content: "";
            position: absolute;
            top: -20px;
            bottom: 0px;
            left: 0;
            right: 0;
            margin: auto;
            width: 20px;
            height: 30px;
            background: #E2564C;
            border-radius: 25px 25px 0 0;
            z-index: 10;
          }
          &:before {
            left: 20px;
            transform: rotate(-45deg);
            transform-origin: left bottom;
          }
          &:after {
            right: 20px;
            transform: rotate(45deg);
            transform-origin: right bottom;
          }
        }
        .top_rhombus {
          background-color: #BD3E24;
          position: absolute;
          top: -18px;
          bottom: 0px;
          left: 0;
          right: 0;
          margin: auto;
          width: 100px;
          height: 65px;
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        }
        .left_triangle {
          z-index: 3;
          left: -50px;
          border-width: 27.5px 0 27.5px 50px;
          border-color: transparent transparent transparent #DF5A48;
        }
        .right_triangle {
          z-index: 3;
          right: -50px;
          border-width: 27.5px 50px 27.5px 0;
          border-color: transparent #DF5A48 transparent transparent;
        }
        .bottom_triangle {
          bottom: -64px;
          border-width: 0 50px 27.5px 50px;
          border-color: transparent transparent #BD3E24 transparent;
        }
      }
    }
    .icon_close_Blk {
      position: absolute;
      top: 17px;
      right: 15px;
      .close_btn {
        position: relative;
        width: 13px;
        height: 13px;
        span {
          position: absolute;
          display: inline-block;
          width: 13px;
          height: 2px;
          background-color: #3E3E3E;
          transform: rotate(-45deg);
          &:nth-child(2) {
            transform: rotate(45deg);
          }
        }
      }
    }
    h2 {
      font-size: 37px;
      color: #F7796C;
      font-weight: bold;
      padding-left: 154px;
      margin: 42px 0 40px 0;
      line-height: 1;
    }
    p {
      font-size: 16px;
      padding-left: 55px;
      line-height: 1.56;
      color: #515151;
      margin: 0 0 30px 0;
    }
    input {
      display: block;
      background-color: #F0F0F0;
      border: 1px solid #E5E5E5;
      border-radius: 6px;
      width: 100%;
      max-width: 395px;
      margin: 0 auto;
      font-size: 16px;
      padding:  10px 0 10px 16px;
      margin-bottom: 24px;
      &:focus {
        outline: none;
      }
    }
    a {
      display: block;
      width: 210px;
      height: 40px;
      line-height: 40px;
      margin: 0 auto;
      background-color: #EFC84A;
      color: #DF5A48;
      text-decoration: none;
      text-align: center;
      border-radius: 6px;
      font-weight: bold;
    }
  }
}

@keyframes jump {
	0%, 60%, 75%, 90%, 100% {
		transform: scale(1);
	}
	15% {
		transform: scale(0.6);
	}
	30% {
		transform: scale(1);
	}
	45% {
		transform: scale(0.7);
	}
}