@import './mixin/sallyMixin.scss';body {color: #5A3252;}

@import url('https://fonts.googleapis.com/css?family=Roboto');

$num-segments: 6;
$color: (
  yellow: #fdf671 #ffef7b #f5ea42,
  blue: #31bcbf,
  gray: #121212 #999999
);
$colors:(white, #999999, white, #999999, white, #999999);

@mixin absolute($top: auto, $left: auto, $bottom: auto, $right: auto) {
  position: absolute;
  @if $top != auto {
    top: $top;
  }
  @if $left != auto {
    left: $left;
  }
  @if $bottom != auto {
    bottom: $bottom;
  }
  @if $right != auto {
    right: $right;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
  @at-root body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    background-color: #e5e5e5;
    position: relative;
  }
}
.wrapper {
  width: 500px;
  height: 720px;
  @include absolute($top: 50%, $left: 50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.promotion_title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  p {
    font-size: 10px;
    text-align: center;

    &:nth-of-type(1) {
      width: 120px;
      height: 20px;
      line-height: 20px;
      background-color: nth(map-get($color, yellow), 2);
      position: relative;

      &:before{
        content: '';
      }
    }
  }
}

.spinner{
  position: absolute;
  left: 50%;
  top:50%;
  width: 300px;
  height: 300px;
  border-radius:50%;
  overflow: hidden;
  color: black;
  box-shadow: 0 0 1px 1px #999999;

  .prize-item{
    position: absolute;
    transform-origin: bottom right;
    width: 150px;
    height: 150px;
  }

  .prize-item {
    @for $i from 1 to $num-segments + 1  {
      &:nth-child(#{$i}) {
        @if $i == $num-segments {
          overflow: hidden;
          &:before {
            content: '';
            width: 150px;
            height: 150px;
            background: nth($colors, $i);
            top: 0;
            left: 0;
            position: absolute;
            transform-origin: bottom right;
            transform: rotate(-90 + (360 / $num-segments) + deg);
          }
        } @else {
          background: nth($colors, $i);  
        }
        transform: rotate((($i - 1) * 360 / $num-segments) + deg);
      }
    }

    &:nth-child(odd) p{
      color: #888888;
    }
    h5{
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      position: absolute;
      top: 55%;
      left: 5%;
      transform: rotate(-60deg);
      padding: 0;
      margin: 0;
      > span {
        font-size: 12px;
        line-height: 18px;
      }
    }

    p{
      font-size: 14px;
      color: white;
      text-align: center;
      position: absolute;
      top: 65%;
      right: 35%;
      transform: translate(-50%, -50%);
      transform: rotate(-60deg);
      padding: 0;
      margin: 0;
      
    }    
  }

}

