body {
  background: url("https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat;
  background-size: cover;
  height: 100vh;
}

body *:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ECE;
}

body .popup {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #444;
  font-family: 'Mukta', sans-serif;
  padding: 3vw;
  box-sizing: border-box;
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30vh;
  line-height: 1.5em;
  margin-left: calc(30vw/-2);
}

body .popup #close {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

body .popup #close i:before {
  color: #b3b3b3;
}

body .popup p.title {
  color: #f7796c;
  font-size: 32px;
  margin-block-start: 0.5em;
  font-weight: 800;
  margin-left: 3vw;
  line-height: 1.2em;
}

body .popup p {
  color: #888;
  font-size: 16px;
}

body .popup [type="text"] {
  background: #f0f0f0;
  border: 1px solid #b3b3b3;
  width: 100%;
  border-radius: 5px;
  padding: 8px 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-style: italic;
}

body .popup [type="text"]::placeholder {
  color: #b3b3b3;
}

body .popup [type="text"].error {
  border: 1px solid #fc3a3a;
  box-shadow: 0 0 10px #df5a48;
  margin-bottom: 0px;
}

body .popup [type="text"].error + p {
  color: #fc3a3a;
  margin: 0 0 20px 0;
  font-size: 12px;
}

body .popup [type="submit"] {
  background: #efc84a;
  color: #f7796c;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding: 6px 25px;
  margin: 0 auto;
  display: block;
  font-weight: 700;
}

body .popup:before {
  content: "\f658";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 6vw;
  color: #df5a48;
  text-align: center;
  display: block;
  line-height: 1.5em;
  width: 10vw;
  height: 10vw;
  margin: -4vw 0 0 -4vw;
  border-radius: 50%;
  background: #efc84a;
  position: absolute;
  top: 0;
  left: 0;
}
